@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&family=Lato:wght@400;700&family=Montserrat:wght@400;700&family=Oswald:wght@400;700&family=Raleway:wght@400;700&family=Poppins:wght@400;700&family=Merriweather:wght@400;700&family=Ubuntu:wght@400;700&family=Nunito:wght@400;700&family=Rubik:wght@400;700&family=Playfair+Display:wght@400;700&family=Quicksand:wght@400;700&family=Source+Sans+Pro:wght@400;700&family=PT+Sans:wght@400;700&family=Josefin+Sans:wght@400;700&family=Fira+Sans:wght@400;700&family=Libre+Baskerville:wght@400;700&family=Inconsolata:wght@400;700&family=Arvo:wght@400;700&family=Cabin:wght@400;700&family=Exo:wght@400;700&family=Dosis:wght@400;700&family=Anton:wght@400;700&family=Signika:wght@400;700&family=Work+Sans:wght@400;700&family=Zilla+Slab:wght@400;700&family=Alegreya:wght@400;700&family=Amatic+SC:wght@400;700&family=Bad+Script:wght@400;700&family=Baloo:wght@400;700&family=Bitter:wght@400;700&family=Caveat:wght@400;700&family=Comfortaa:wght@400;700&family=Cormorant+Garamond:wght@400;700&family=Crimson+Text:wght@400;700&family=Damion:wght@400;700&family=Domine:wght@400;700&family=EB+Garamond:wght@400;700&family=Fjalla+One:wght@400;700&family=Fredericka+the+Great:wght@400;700&family=Gudea:wght@400;700&family=Inknut+Antiqua:wght@400;700&family=Julius+Sans+One:wght@400;700&family=Karla:wght@400;700&family=Libre+Franklin:wght@400;700&family=Literata:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.csl-entry {
  @apply my-5;
}

@layer utilities {
  .special-underline {
    @apply bg-gradient-to-r from-primary-color-500 to-primary-color-500 bg-no-repeat pb-0.5
      font-normal [background-position:0_100%]
      [background-size:100%_0.2em]
      hover:text-white hover:[background-size:100%_100%]
      focus:[background-size:100%_100%]
      motion-safe:transition-all
      motion-safe:duration-300
      dark:from-primary-color-dark-500 dark:to-primary-color-dark-500 dark:hover:text-white;
  }

  .special-underline-new {
    @apply bg-gradient-to-r from-primary-color-500 to-primary-color-500 bg-no-repeat pb-1
      font-normal [background-position:0_100%]
      [background-size:100%_0.1em]
      hover:text-white hover:[background-size:100%_100%]
      focus:[background-size:100%_100%]
      motion-safe:transition-all
      motion-safe:duration-300
      dark:from-primary-color-dark-500 dark:to-primary-color-dark-500 dark:hover:text-white;
  }

  .company {
    box-shadow: inset 0 0 0 0 #de1d8d;
    color: #de1d8d;
    margin: 0 -0.25rem;
    padding: 0 0.25rem;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  .company:hover {
    box-shadow: inset 200px 0 0 0 #de1d8d;
    color: white;
  }
}

html {
  scroll-behavior: smooth;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

::-moz-selection {
  background: #de1d8d;
}
::-webkit-selection {
  background: #de1d8d;
}
::selection {
  background: #de1d8d;
}

ol {
  list-style-type: decimal !important;
  margin-left: 10px; /* 調整縮進 */
  padding-left: 10px; /* 確保內縮距離 */
}

ul {
  list-style-type: disc !important;
  margin-left: 10px; /* 調整縮進 */
  padding-left: 10px; /* 確保內縮距離 */
}

menu {
  list-style-type: none; /* 或你希望的其他样式 */
}

.dark .news-content-container {
  background-color: black;
  color: white;
}

.dark .news-content-container * {
  background-color: transparent !important;
  color: inherit;
}

/* 將非白色文字改成白色 */
.dark .news-content-container *:not([style*="color: white"]) {
  color: white !important;
}